.account-page {
	.label {
    	align-items: center;
    	display: flex;
		
		&:not(:last-child) {
			margin-bottom: .25em
		}

		i {
			cursor: pointer;
			margin: 5px 0 0 10px;
		}
	}

	.value {
		margin-bottom: 20px;

		&[contenteditable="true"] {
			padding: 5px;
		}
	}

	.photo-input {
		display: none;
	}
}