$logo-anchor-width: $gutter * 3;
$mobile-route-name-font-size: 28px;
$menu-bottom-position: -190%;
$menu-left-position: -10px;

.app-header {
	background-color: $primary;
	color: $white;
	display: flex;
	height: $app-header-height;
	justify-content: space-between;
	margin-top: -$app-header-height;
	padding: 0 $gutter-1;
	position: fixed;
	width: 100%;
	z-index: z-index(header);

	.header-section {
		align-items: center;
		display: flex;
		width: 33.33%;
	}

	.logo-container {
		justify-content: flex-start;

		a {
			@include banner('http://placehold.it/112x28');
			@include bp-sm {
				display: none;
			}
			display: block;
			height: $gutter-2;
			width: $logo-anchor-width;
		}
	}

	.route-text-container {
		@include bp-sm {
			display: flex;
		}
		align-items: center;
		display: none;
		font-size: $mobile-route-name-font-size;
		font-weight: bold;
		justify-content: center;
		text-align: center;
	}

	.menu-button-container {
		align-items: center;
		justify-content: flex-end;
	}

	.nav-toggle {
		&.is-active {
			span {
				background-color: $white;
			}
		}

		&:hover {
			background-color: $primary;
		}

		@include bp-sm {
			display: block;
		}

		span {
			background-color: $white;
		}
	}
}

.desk-menu-user {
	@include bp-sm {
		display: none;
	}
	position: relative;

	.menu-button-container {
		@include flex(null, center);
		cursor: pointer;
		min-height: $app-header-height;
		padding: 0 $gutter-1;

		&:hover,
		&.active {
			background-color: $darken-primary;
		}

		img {
			border-radius: 50%;
			width: $gutter-2;
		}

		span {
			margin: 0 ($gutter / 3);
		}

		i {
			margin-bottom: 5px;
		}
	}

	.menu {
		background-color: $white-bis;
		bottom: $menu-bottom-position;
		box-shadow: $pop-shadow;
		left: $menu-left-position;
		position: absolute;
		width: calc(100% + 20px);

		a {
			@include flex(null, center);
			color: $black;
			padding: ($gutter / 3) $gutter-1;

			&:hover {
				background-color: $primary;
				color: $white;
			}

			span {
				@include flex(center, center);
				display: inline-block;
				margin-right: 6px;
				text-align: center;
				width: 25px;
			}
		}
	}
}
