.app-header {
	background-color: $primary;
	color: $white;
	display: flex;
	height: $app-header-height;
	margin-top: -$app-header-height;
	padding: 0 15px;
	position: fixed;
	width: 100%;
	z-index: z-index(header);
	justify-content: space-between;

	.header-section {
		align-items: center;
		display: flex;
		width: 33.33%;
	}

	.logo-container {
		justify-content: flex-start;

		a {
			@include banner('http://placehold.it/112x28');
			@include bp-sm {
				display: none;
			}
			display: block;
			width: 112px;
			height: 28px;
		}
	}

	.route-text-container {
		@include bp-sm {
			display: flex;
		}
		align-items: center;
		display: none;
		font-size: 28px;
		font-weight: bold;
		justify-content: center;
		text-align: center;
	}

	.menu-button-container {
		align-items: center;
		justify-content: flex-end;
	}

	.nav-toggle {
		&.is-active {
			span {
				background-color: $white;
			}
		}

		&:hover {
			background-color: $primary;
		}

		@include bp-sm {
			display: block;
		}

		span {
			background-color: $white;
		}
	}
}

.desk-menu-user {
	@include bp-sm {
		display: none;
	}
	position: relative;

	.menu-button-container {
		@include flex(null, center);
		cursor: pointer;
		min-height: 70px;
		padding: 0 10px;

		&:hover {
			background-color: $darken-primary;
		}

		img {
			border-radius: 50%;
			width: 40px;
		}

		span {
			margin: 0 10px;
		}

		i {
			margin-bottom: 5px;
		}
	}

	.menu {
		background-color: $white-bis;
		box-shadow: $pop-shadow;
		bottom: -175%;
		position: absolute;
		left: -25px;
		width: calc(100% + 20px);

		a {
			@include flex(null, center);
			color: $black;
			padding: 10px 15px;

			&:hover {
				background-color: $primary;
				color: $white;
			}

			span {
				text-align: center;
				display: inline-block;
				width: 25px;
				margin-right: 6px;

				@include flex(center, center);
			}
		}
	}
}
