.app-nav {
	background-color: $white;
	border-right: $border solid 1px;
	height: $app-nav-height;
	overflow-y: auto;
	padding: $gutter-1;
	position: fixed;
	width: $app-nav-width;
	z-index: z-index(sidebar);

	a {
		line-height: 24px;
	}

	.icon {
		margin-right: 10px;
	}
}
