.app-nav {
	background-color: $white;
	border-right: $border solid 1px;
	height: calc(100% - 70px);
	overflow-y: auto;
	padding: 15px;
	position: fixed;
	width: 270px;
	

	a {
		line-height: 24px;
	}

	.icon {
		margin-right: 10px;
	}
}