.button-menu {
	display: inline-block;
	position: relative;

	&.is-active {
		ul {
			display: block;
		}
	}

	&.is-right {
		ul {
			left: 0;
		}
	}

	&.is-left {
		ul {
			right: 0;
		}
	}

	ul {
		background-color: $white;
		box-shadow: $pop-shadow;
		display: none;
		min-width: 200px;
		position: absolute;
		top: calc(100% + 5px);
		z-index: z-index(modal);

		a {
			border: 0;

			&:first-child {
				border-top: 0;
			}
		}
	}

	.delete {
		&::before,
		&::after {
			background-color: transparent;
		}

		span {
			@include flex(center, center);
		}
	}
}
