.button-menu {
	position: relative;
	display: inline-block;
	
	&.is-active {
		ul {
			display: block;
		}
	}

	&.is-right {
		ul {
			left: 0;
		}
	}

	&.is-left {
		ul {
			right: 0;
		}
	}

	ul {
		position: absolute;
		min-width: 200px;
		top: calc(100% + 5px);
		background-color: $white;
		box-shadow: $pop-shadow;
		z-index: z-index(modal);
		display: none;

		a {
			border: none !important;
		}
	}

	.delete {
		&:before,
		&:after {
			content: none !important;
		}

		span {
			@include flex(center, center);
		}
	}
}