.company-page {
	.panel {
		.app-modal {
			width: 100%;
		}

		form {
			padding: 20px 0;
		}
	}

	.department-title-container {
		margin: 1.5rem 0;
		@include flex(space-between, center);

		.title {
			width: 100%;
			margin-bottom: 0;

			&[contenteditable] {
				line-height: normal;
			}
		}
	}

	.host-list {
		.search-host {
			margin-bottom: 20px;
		}

		.search-host-margin-top {
			margin-top: 20px;
		}
	}
}