.company-page {
	.table-title {
		display: flex;
	}

	.app-modal {
		& > button {
			@include button-reset();
			margin-left: 15px;
			color: $info;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.app-modal {
		@include flex(null, center);
	}
}