.users-page {
	.button-container {
		@include flex(flex-end, null);
		margin-bottom: 1.5rem;
	}

	.edit-container {
		.field-container {
			@include flex(null, center);
		}

		p,
		i {
			font-size: 1.2rem;
		}

		i {
			cursor: pointer;
			margin-left: 10px;
		}
	}
}
