// Levels
$z1: 1;
$z10: 10;
$z100: 100;
$z-max: 9999999;

$z-index: (
	modal: $z100,
	header: $z100 - 1,
	sidebar: $z100 - 1,
	mobile_nav: $z100,
);

@function z-index($key) {
	@return map-get($z-index, $key);
}
