* {
	box-sizing: border-box;
}

body {
	padding-top: $body-padding-top;
}

main {
	min-height: calc(100vh - #{$main-height-calc});
	padding-bottom: $main-padding-bottom;
}

.app-main-container {
	@include bp-sm {
		min-width: 100%;
	}
	margin: 0 auto;
	max-width: 1024px;
	min-width: 713px;
}

.display-block {
	display: block;
}

.error-field {
	display: none;

	ul {
	    list-style: disc outside;
		margin-left: 2em;
		margin-right: 2em;
	}
}
